@import "../../../mixins.scss";

.carouseSection {
  position: relative;
  margin-bottom: 70px;
  @include md {
    margin-right: 120px;
    margin-left: 120px;
  }
  .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .carouseTitle {
    font-size: 24px;
    color: white;
    font-weight: normal;
    margin-left: 20px;
  }
}
